@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$fontFamily: "Courier Prime", monospace;
$fontSize: 16px;

$width: 64ch;
$lineNumberWidth: 6ch;
$lineInfoGutter: 4ch;
$lineTypeWidth: 10ch;
$characterMargin: 18ch;
$parenMargin: 12ch;
$dialogueMargin: 10ch;
$lineWidth: $width + $lineNumberWidth + $lineInfoGutter * 2 + $lineTypeWidth;
$characterWidth: $width - $characterMargin * 2;
$parenWidth: $width - $parenMargin * 2;
$dialogueWidth: $width - $dialogueMargin * 2;

$lightBgColor: #eee;
$lightLineColor: #333;
$lightLineHoverColor: #000;
$lightLineInfoColor: #aaa;
$lightLineInfoHoverColor: #000;

$darkBgColor: #222;
$darkLineColor: #ccc;
$darkLineHoverColor: #fff;
$darkLineInfoColor: #444;
$darkLineInfoHoverColor: #888;

* {
  font-family: $fontFamily;
  font-size: $fontSize;
}

body {
  background-color: $lightBgColor;
  color: $lightLineColor;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centerMargin() {
  margin-left: auto;
  margin-right: auto;
}

.script {
  width: $lineWidth;
  margin: 5em auto;
}

.line {
  width: $lineWidth;
  .line-number {
    float: left;
    width: $lineNumberWidth;
    margin-right: $lineInfoGutter;
    color: $lightLineInfoColor;
  }
  .line-body {
    float: left;
    width: $width;
  }
  .line-type {
    float: left;
    width: $lineTypeWidth;
    margin-left: $lineInfoGutter;
    color: $lightLineInfoColor;
    overflow-x: hidden;
  }
  &:hover {
    .line-number,
    .line-type {
      color: $lightLineInfoHoverColor;
    }
    .line-body {
      color: $lightLineHoverColor;
    }
  }
  @include clearfix;
}

.scene {
  font-weight: bold;
}

.character {
  width: $characterWidth;
  @include centerMargin;
}

.dialogue {
  width: $dialogueWidth;
  @include centerMargin;
}

.paren {
  width: $parenWidth;
  @include centerMargin;
}

.centered {
  text-align: center;
}

.title-page {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $darkBgColor;
    color: $darkLineColor;
  }
  .line {
    .line-number,
    .line-type {
      color: $darkLineInfoColor;
    }
    &:hover {
      .line-number,
      .line-type {
        color: $darkLineInfoHoverColor;
      }
      .line-body {
        color: $darkLineHoverColor;
      }
    }
  }
}
