@use "sass:map";
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$fontFamily: "Courier Prime", monospace;
$fontSize: 16px;
$lineHeight: 1.4;

$width: 56ch;
$lineInfoWidth: 10ch;
$lineInfoGutter: 4ch;
$sceneNumberWidth: 4ch;
$sceneNumberGutter: 2ch;
$characterMargin: 18ch;
$parenMargin: 12ch;
$dialogueMargin: 10ch;
$lineMargin: ($lineInfoGutter + $lineInfoWidth) * 2 + $sceneNumberWidth + $sceneNumberGutter;
$lineWidth: $width + $lineMargin;
$characterWidth: $width - $characterMargin * 2;
$parenWidth: $width - $parenMargin * 2;
$dialogueWidth: $width - $dialogueMargin * 2;

$light: (
  "line": #333,
  "notes": #777,
  "info": #bbb,
  "bg": #ddd,
);
$dark: (
  "line": #bbb,
  "notes": #777,
  "info": #333,
  "bg": #111,
);

* {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
}

body {
  -webkit-font-smoothing: antialiased;
  counter-reset: scene;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centerMargin() {
  margin-left: auto;
  margin-right: auto;
}

.script {
  width: $lineWidth;
  margin: 5em auto;
}

.line {
  width: $lineWidth;
  position: relative;
  @include clearfix;
}

.line-info {
  position: absolute;
  top: 0;
  width: $lineInfoWidth;
}

.line-number {
  text-align: right;
  left: 0;
}

.line-body {
  width: $width;
  @include centerMargin;
}

.line-type {
  right: 0;
}

.scene {
  font-weight: bold;
}

.character {
  width: $characterWidth;
  @include centerMargin;
}

.dialogue {
  width: $dialogueWidth;
  @include centerMargin;
}

.transition {
  text-align: right;
}

.scene {
  margin-top: 3em;
  &:before {
    counter-increment: scene;
    content: counter(scene);
    font-weight: bold;
    text-align: right;
    float: left;
    width: $sceneNumberWidth;
    margin-left: -($sceneNumberGutter + $sceneNumberWidth);
  }
}

.paren {
  width: $parenWidth;
  @include centerMargin;
}

.centered {
  text-align: center;
}

.titles {
  margin: 5em auto;
}

.title-page {
  .line-body {
    text-align: center;
  }
  &.git {
    margin-bottom: 2em;
  }
  &.credit,
  &.copyright,
  &.source,
  &.notes,
  &.contact {
    margin-top: 2em;
  }
}

.inline-notes {
  font-style: italic;
}

@mixin theme($colorMap) {
  body {
    background-color: map.get($colorMap, "bg");
    color: map.get($colorMap, "line");
  }
  .git {
    color: map.get($colorMap, "info");
  }
  .line-info {
    color: map.get($colorMap, "info");
  }
  .inline-notes {
    color: map.get($colorMap, "notes");
  }
  .line:hover {
    .line-info {
      color: map.get($colorMap, "line");
    }
  }
}

@include theme($light);

@media (prefers-color-scheme: dark) {
  @include theme($dark);
}
